
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'download (5).png' %}" class="App-logo" alt="logo" />
            <p>
                Welcome to <b>Eth-Check App</b> <span class="heart">♥️</span> Django
            </p>
            <p class="small">
                Edit <code>the URL and add <b>" /web3"</b></code> and see changes live! in web3 🥷
            </p>
        </header>
    </div>
</body>

</html> 


